@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


.drawer-side a.active {
    color: black;
    text-decoration: none;
  }
  .drawer-side a {
    background-color: transparent;
  }

  body{
    background: linear-gradient(to left ,#2e3a59 , #1a1f36);
    color: white
  }

@font-face {
  font-family: 'Airstrike';
  src: url('./assets/fonts/airstrike/airstrikeexpand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Planet Kosmos';
  src: url('./assets/fonts/planet_kosmos/PLANK___.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wanted';
  src: url('./assets/fonts/wanted_m54/Wanted\ M54.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

